/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@font-face {
  font-family: HKGroteskRegular;
  src: url(fonts/hkgrotesk-regular-webfont.woff);
}
@font-face {
  font-family: HKGroteskSemiBold;
  src: url(fonts/hkgrotesk-semibold-webfont.woff);
}
@font-face {
  font-family: HKGroteskBold;
  src: url(fonts/hkgrotesk-bold-webfont.woff);
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'HKGroteskRegular', sans-serif;
    margin: 0;
    background: #F4F4F4;
    height: 100%;
    width: 80%;
    font-size: 100%;
    padding: 0;
}
ul {
    list-style-type: none;
}
#mainContainer {
    /* padding-top: 4em;  */
    margin: 0px 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    
}
.sticky {
    z-index: 2;
    margin: 0px 10%;
    display: inline-flex;
    flex-wrap: nowrap;
    position: fixed;
    width: 100vw;
    /* width: 80vw; */
    /* min-height: 10em; */
}
#logo {
    align-self: flex-start;
}
#logo, #hambMenu, #plusMenu {

    margin-top: 7em;  
}
#logo img, #hambMenu img, #plusMenu img{
   height: 18px;
   min-height: 18px;
}

#hambMenu {
    margin-left: 55%; 
}
#plusMenu {
    margin-left: 3%;
}
img{
    max-width: 100%;
}


#project1 {
    margin-left: 18vw;
    width: 55vw;
    height: 25vw;

    background: url("coleccion de material/casa_virasoro/360.jpg");
    background-size: cover;
}
#project1 .filling {
    height: inherit;
    padding-top: 11vw;
    background: linear-gradient(to right, rgb(175, 162, 153) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-bottom: 30px;
}
#project1 .filling span {
    color: rgb(90, 62, 11);
}

#project2 {
    margin-top: 7vw;
    margin-left: 9vw;
    width: 25vw;
    height: 30vw;
     
    
    background: url("coleccion de material/Mediateca/pp.jpg");
    background-size: cover;
}
#project2 .filling {
    height: inherit;
    padding-top: 13vw;
    background: linear-gradient(to right, rgb(149, 40, 27) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;  
}

#project3 {
    margin-top: 15vw;
    margin-left: 10vw;
    width: 25vw;
    height: 30vw;
    

    background: url("coleccion de material/MUARQ/SouthCargo/CAM 27-SNAPSHOT.jpg");
    background-size: cover;
}
#project3 .filling {
    height: inherit;
    padding-top: 13vw;
    background: linear-gradient(to right, rgb(204, 182, 108) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

#project4 {
    margin-left: 2vw;
    margin-top: 7vw;
    width: 47vw;
    height: 27vw;

    background: url("coleccion de material/MUARQ/Renoir/HALL-09 PS.jpg");
    background-size: cover;
}
#project4 .filling {
    height: inherit;
    padding-top: 12vw;
    background: linear-gradient(to right, rgb(230, 230, 230) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-bottom: 30px;
}
#project4 .filling span {
    color: rgb(177, 132, 9);
}

#project5 {
    margin-top: 15vw;
    margin-left: 4vw;
    width: 25vw;
    height: 30vw;
     
    
    background: url("coleccion de material/Monte Hermoso/baño ps.jpg");
    background-size: cover;
}
#project5 .filling {
    height: inherit;
    padding-top: 13vw;
    background: linear-gradient(to right, rgb(122, 117, 110) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;  
}

#project6 {
    margin-top: 7vw;
    margin-left: 10vw;
    width: 25vw;
    height: 30vw;
    

    background: url("coleccion de material/THE WALL/Algodon/IMG-20180614-WA0022.jpg");
    background-size: cover;
}
#project6 .filling {
    height: inherit;
    padding-top: 13vw;
    background: linear-gradient(to right, rgb(123, 184, 202) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
#project6 .filling span {
    color: rgb(0, 0, 0);
}

#project7 {
    margin-left: 30vw;
    margin-top: 7vw;
    width: 47vw;
    height: 27vw;

    background: url("coleccion de material/Monte Hermoso/PS final.jpg");
    background-size: cover;
}
#project7 .filling {
    height: inherit;
    padding-top: 12vw;
    background: linear-gradient(to right, rgb(224, 217, 202) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-bottom: 30px;
}
#project7 .filling span {
    color: rgb(33, 51, 3);
}

#project8 {
    margin-left: 2vw;
    margin-top: 7vw;
    width: 47vw;
    height: 27vw;

    background: url("coleccion de material/MUARQ/DAC/CAM6-RGB.jpg");
    background-size: cover;
}
#project8 .filling {
    height: inherit;
    padding-top: 12vw;
    background: linear-gradient(to right, rgb(190, 54, 72) 50%, rgba(255,0,0,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-bottom: 30px;
}






.filling {
    height: 100%;
    width: 100%;
    text-align: center; 
    transition:all .3s ;
}
#project1 .filling:hover, #project2 .filling:hover, #project3 .filling:hover, #project4 .filling:hover,
#project5 .filling:hover, #project6 .filling:hover, #project7 .filling:hover, #project8 .filling:hover{
    background-position: left bottom;
}
.projectName {
    font-family: "HKGroteskBold" ,sans-serif;
    letter-spacing: .4em;
    font-size: 1.8em;
    color: white;
    opacity: 0;
    transition:all .3s ease;
    transition-delay:all .3s;

}
.filling:hover > .projectName {
    opacity: 1;
    transition:all .2s ease;
    transition-delay:all 0s;
}